        /* presentation styling */
        svg {
            width: 100%;
            height: 100%;
        }
        canvas {
            width: 100%;
            height: 100%;
        }
        iframe {
            width: 100%;
            height: 100%;
        }
        

        .vtrib_display {
            width:49%;
            float:left;
            /*
            width: 400px;
            */
            height: 400px;
            /*border: 1px solid black !important;*/
        }
        .veditor {
            float:right;
            /*
            float: right;
            width: 400px;
            */
            width:49%;
            height: 400px;
        }

        .htrib_display {
            width:100%;
            float:left;
            /*
            width: 400px;
            */
            height: 400px;
            /*border: 1px solid black !important;*/
        }
        .heditor {
            float:left;
            /*
            float: right;
            width: 400px;
            */
            width:100%;
            height: 200px;
        }
 
        .CodeMirror {
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.9);
        }
        .CodeMirror-scroll {
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.9);
        }
        



        .desc {
            float:left;
            clear:left;
        }

        .ui-widget {
            font-size: 12px !important;
        }


